body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .form-container {
    background-color: white;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input, select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  .gender {
    display: flex;
    gap: 10px;
    margin-top: 5px;
  }
  
  button {
    width: 100%;
    margin-top: 15px;
    padding: 8px;
    background-color: #98f5e1;
    border: none;
    cursor: pointer;
  }
  
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  .delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }